*{
margin:0px;
padding:0px;
box-sizing: border-box;
}
#mainbody {
	height: 1400px;
	width: 100%;
}
#wrapper {
	height: 1000px;
	width: 100%;
}
#header {
background-image:url(JIMS-PGDM-admission.jpg);
height: 400px;
	width: 100%;
}
#header1-hgt{
        line-height:30px;
        height:40px;
		width:99%;
    }
#centre {
	width: 100%;
	height:1400px;
}
#footer {
	height: 1200px;
	width: 1519px;
}
.left {
	background-color: #45D4FF;
	height: 1000px;
	width: 20%;
	float: left;
	font-size:14px;
}
.content {
	background-color: #8A8A8A;
	height: 1000px;
	width: 60%;
	float: left;
	font-size:18px;
	color:#FFFFFF;
}

.right {
	background-color:#45D4FF;
	height:1000px;
	width:20%;
	float: left;
}
[class*="col-"] {
  width: 100%;
}

ul li
{
	list-style:none;
	font-family:"Trebuchet MS";
}

ul li a
{
	text-decoration:none;		
	color:#427BFF;
}	

ul li a:hover
{
	color:#000000;
	border-radius:10px;
	display:block;
}

.box {
    width: 285px;
	height:500px; 
    position: absolute;
    background: #8CD1FF;
    transition: 0.25s;
}

.box input[type="text"], .box input[type="password"] {
    display: block;
    margin: 10px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s
}

.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
    width: 300px;
    border-color: #343A40;
}

.box input[type="submit"] {
	background-color:#343A40;
	color:#FFFFFF;
    border: 0;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #FFFFFF;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}

.box input[type="submit"]:hover {
    background: #2ecc71;
}


ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}

ul.social-network li {
    display: inline-block;
    margin: 0 5px
}

.social-network a.icoFacebook:hover {
    background-color: #3B5998
}

.social-network a.icoTwitter:hover {
    background-color: #33ccff
}

.social-network a.icoGoogle:hover {
    background-color: #BD3518
}

.social-network a.icoFacebook:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i {
    color: #fff;
}

a.socialIcon:hover,
.socialHoverClass {
    color: #44BCDD;
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 10 auto 10 auto;
    border-radius: 100%;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 20px
}

.social-circle li i {
    margin: 0;
    line-height: 50px;
    text-align: center
}

.social-circle li a:hover i,
.triggeredHover {
    transform: rotate(360deg);
    transition: all 0.2s
}

.social-circle i {
    color: #fff;
    transition: all 0.8s;
    transition: all 0.8s
}

.main-nav {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  width: 600px;
  height: 150px;
}

.main-nav li {
  list-style: none;
  position: absolute;
  width: 200px;
  height: 200px;
  background: #000;
  transform: rotate(45deg);
  transition: 0.5s;
  margin: -100px;
  overflow: hidden;
  opacity: 0.5;
}

.main-nav li:hover {
  opacity: 1;
}

.main-nav li.item1 {
  top: 0;
  left: 0;
}

.main-nav li.item2 {
  bottom: 0;
  left: 25%;
}

.main-nav li.item3 {
  top: 0;
  left: 50%;
}

.main-nav li.item4 {
  bottom: 0;
  left: 75%;
}

.main-nav li.item5 {
  top: 0;
  left: 100%;
}

.main-nav li .bg {
  width: 100%;
  height: 100%;
  transform: scale(1.1);
}

.main-nav li.item1 .bg {
  background-image:url(e1.jfif);
  background-size: cover;
  background-position: center;
}

.main-nav li.item2 .bg {
  background-image:url(e2.jfif);
  background-size: cover;
  background-position: center;
}

.main-nav li.item3 .bg {
  background-image:url(e3.jfif);
  background-size: cover;
  background-position: center;
}

.main-nav li.item4 .bg {
  background-image:url(e4.jfif);
  background-size: cover;
  background-position: center;
}

.main-nav li.item5 .bg {
  background-image:url(e5.jfif);
  background-size: cover;
  background-position: center;
}

thumb-bar img {
  display: block;
  width: 20%;
  float: left;
  cursor: pointer;
}

thumb-bar img {
  display: block;
  width: 20%;
  float: left;
  cursor: pointer;
}